<form action="#" method="get">
    <div class="form-register">
        <div class="register-content">
            <h1>CADASTRE-SE E RECEBE OS MELHORES CONTEÚDOS</h1>
            <p>Se você gosta de programação, redes e outras áreas da tecnologia, cadastre-se para receber listas de exercício, ideias de projetos e atualizações</p>
            <p>Se você gosta de Design, saiba que é uma área que anda junto com a área de desenvolvimento. Quer aprender a montar Layouts e usar a ferramente Figma? Vem com a gente!</p>
            <p>Que tal um pouco de Marketing para aplicar no seu futuro negócio?</p>
        </div>
        <div class="input-register">
            <input type="email" name="email" placeholder="Seu melhor email">
            <button>REGISTRAR</button>
        </div>
    </div>
</form>