/* You can add global styles to this file, and also import other style files */

body{
    background: linear-gradient(to right bottom,purple 60%,white 40%);
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1023px){
   body{
    background: linear-gradient(to right bottom,purple 70%,white 30%);

   } 
}