.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    margin-top: 50px;
}

.card{
    background-color: white;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 400px;
    transition: .7s ease;
}

.card:hover{
   transform: scale(1.1);
}


.card-header{
    width: 300px;
    height: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header img{
    height: 120px;
    width: 50%;
}

.card-body{
    width: 300px;
    height: 250px;
}

.card-body p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 6px;
}

@media screen and (max-width: 1023px){
    .cards{
        grid-template-columns: 1fr;
        margin-left: 30%;
    }
    .card{
        margin-top: 20px;
    }
}